body {
    background-image: url(https://media.istockphoto.com/photos/twinkling-star-field-overlay-texture-on-black-background-picture-id938050474?b=1&k=20&m=938050474&s=170667a&w=0&h=D2d9BnYsHXpkidikvqFi1-abDh7doWvatWEpUpzRNJU=);
    color: white;
}

nav {
  display: flex;
  padding: 50px 8%;
  align-items: center;

  ul {
    text-decoration: none;
    flex: 1;
    text-align: right;
    color: white;
    
    li {
        display: inline-block;
        list-style: none;
        margin: 0 20px
    }
    a   {
        text-decoration: none;
        color:white;
    }
  }
}

section,
div {
  form {
    input {
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
    }
  }
}

img {
  width: 150px;
  height: 150px;
  border-style:unset;
  object-fit:initial;
}

a {
    text-decoration: none;
}

#indexList {
    display: inline;
    padding: 50px 100px 50px 100px;
    
    
}

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
}


.text-container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 34%;
}


#apodpic {
    border-radius: 0%;
    width: 25%;
    height: 50%;
}

#apodinfo {
    font-size: 18px;
}

.showimg {
    border-radius: 0;
    width: 25%;
    height: 50%;
}

#delete {
    background-color: transparent;
    color: white;
    border-radius: 12px;
}
